# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/pages/passcode.css
src/pages/none.txt
passcode
passcode
passcode.txt
acdc/compact-ecr-authorization-vlei-credential.json
acdc/compact-legal-entity-engagement-context-role-vLEI-credential.json
acdc/compact-legal-entity-official-organizational-role-vLEI-credential.json
acdc/compact-legal-entity-vLEI-credential.json
acdc/compact-oor-authorization-vlei-credential.json
acdc/compact-qualified-vLEI-issuer-vLEI-credential.json
acdc/E4OU1DuxIAtRRscHSSQCO0UIpk3tVc0QHaNBDUmpHKac-acdc.cesr
acdc/EBzltAGk2r2ztLpT7bqWln_Btb_pVowElbKxvqbG4_n4-acdc.cesr
acdc/ecr-authorization-vlei-credential.json
acdc/EDNGKQxRTNLcwXMgzaVNLQAzjieGDr_bAk4cYRRazIdc-acdc.cesr
acdc/Eg8ERvoA7nYOxFIN8WC0JGSF0HNoNzVldT2TR92YuAY0-acdc.cesr
acdc/EGgAMmz2ccR25RQMB-yuK1Jm4INx2ReJbnKSmMDNwiPk-acdc.cesr
acdc/EOu73a50TLWJiUOHdyMV8La6-5_VU7rb2QmUr3kMaMs8-acdc.cesr
acdc/ETZG0gFx5uLib9uMQUnP5eQUMrs7XulFeqjCiRtVPdUg-acdc.cesr
acdc/legal-entity-engagement-context-role-vLEI-credential-auth.json
acdc/legal-entity-engagement-context-role-vLEI-credential-le.json
acdc/legal-entity-engagement-context-role-vLEI-credential-said.json
acdc/legal-entity-official-organizational-role-vLEI-credential.json
acdc/legal-entity-vLEI-credential.json
acdc/oor-authorization-vlei-credential.json
acdc/qualified-vLEI-issuer-vLEI-credential.json
acdc/verifiable-ixbrl-report-attestation.json
